@model corevipul1.Models.Touristplace

<h2>@Model.PlaceName</h2>
<h4>City: @Model.CityName</h4>
<h4>Ticket Price: ₹@Model.Price</h4>

<img src="~/images/charminar.jpeg" width="400" height="300" />
<p>
	Charminar Hyderabad ka ek mashhoor aur prachin smarak hai, jo 1591 mein Quli Qutb Shah, jo ki Golconda ke chhatthe sultan the, unhone banwaya tha. Iska naam "Charminar" do shabdon se milke bana hai – ‘Char’ ka matlab chaar aur ‘Minar’ ka matlab towers. Matlab is imarat mein chaar unche minar hai jo isse alag aur shandar banate hain. Charminar ko Hyderabad ke beechon-beech banwaya gaya tha jab Quli Qutb Shah ne yeh nayi shahar (Hyderabad) basayi thi.

	Kaha jaata hai ki Charminar us waqt banwaya gaya jab shah ne Hyderabad mein plague (mahamari) se chutkaara paaya tha. Is imarat ko shukriya ke roop mein banwaya gaya tha. Yeh structure Islamic architecture ka ek behtareen udaharan hai jisme Indo-Islamic aur Persian style ka fusion dekhne ko milta hai.

	Charminar ek square shape ka structure hai jiska har kona ek uncha minar hai, lagbhag 56 meter uncha. Har minar ke andar spiral staircase (ghoomti seediyan) hain jisse log upar tak jaa sakte hain. Charminar ke beech mein ek choti si masjid bhi hai jahan aaj bhi namaaz padhi jaati hai. Us samay, Charminar ke chaaro taraf bazaar aur shops hua karti thi – jo aaj bhi famous hai jaise ki Laad Bazaar, jahan lakhon log chudiya aur traditional jewellery kharidne aate hain.

	Charminar sirf ek itihasik imarat nahi balki Hyderabad ki pehchaan ban chuki hai. Ye tourist attraction ke roop mein bhi mashhoor hai aur log isse dekhne duniya bhar se aate hain. Aaj bhi yeh imarat Hyderabad ke samriddh sanskritik virasat (cultural heritage) ki nishani hai. Raat ko jab ise lights se sajaya jaata hai, tab iska nazara aur bhi lajawab dikhta hai.

</p>
