@model corevipul1.Models.Touristplace

<h2>@Model.PlaceName</h2>
<h4>City: @Model.CityName</h4>
<h4>Ticket Price: ₹@Model.Price</h4>

<img src="~/images/redfort.jpeg" width="400" height="300" />
<p>
	The Red Fort, also known as Lal Qila, is a historic fort located in Old Delhi, India. It was commissioned in 1638 by the Mughal Emperor Shah Jahan, the same ruler who built the Taj Mahal. He decided to shift the Mughal capital from Agra to Delhi and laid the foundation of the new capital, Shahjahanabad. The Red Fort served as the main residence of the Mughal emperors for nearly 200 years, until the British took over in 1857.

	The fort gets its name from the massive red sandstone walls that surround it, stretching up to 2.5 kilometers in length and rising to a height of 33 meters. Designed by architect Ustad Ahmad Lahori, the Red Fort is a prime example of Mughal architecture, blending Persian, Timurid, and Indian styles. Inside the fort are several majestic structures, including the Diwan-i-Aam (Hall of Public Audience), Diwan-i-Khas (Hall of Private Audience), Rang Mahal, Moti Masjid, and the imperial gardens.

	The fort was not just a political center, but also a cultural hub. It witnessed the flourishing of Mughal art, music, and literature. The Diwan-i-Khas once held the legendary Peacock Throne, embedded with precious gems, which was looted by Nadir Shah of Persia in 1739. Over time, the fort suffered damage due to invasions and colonial occupation, especially after the Indian Rebellion of 1857, when the British army looted and demolished several parts of the complex.
</p>
