@model corevipul1.Models.Touristplace

<h2>@Model.PlaceName</h2>
<h4>City: @Model.CityName</h4>
<h4>Ticket Price: ₹@Model.Price</h4>

<img src="~/images/taj.jpeg" width="400" height="300" />
<p>
	The Taj Mahal, located in Agra, India, is one of the most famous monuments in the world and a symbol of eternal love. It was built by Mughal Emperor Shah Jahan in memory of his beloved wife Mumtaz Mahal, who died in 1631 during the birth of their 14th child. Deeply heartbroken by her death, Shah Jahan decided to construct a grand mausoleum to honor her. The construction of the Taj Mahal began in 1632 and was completed in 1653, taking about 22 years and involving more than 20,000 artisans and craftsmen from across the empire.

	The Taj Mahal is a masterpiece of Mughal architecture, combining elements from Persian, Islamic, and Indian styles. The main structure is made of shimmering white marble, brought from Makrana, Rajasthan, and is decorated with intricate inlay work using semi-precious stones like jade, lapis lazuli, turquoise, and carnelian. Verses from the Quran are engraved in elegant calligraphy on its walls. The complex also includes a mosque, a guest house, a large reflecting pool, and lush gardens laid out in a Charbagh (Persian garden) style. Inside the mausoleum, the cenotaphs of Mumtaz Mahal and Shah Jahan lie in the central chamber, with their actual graves located in a crypt below.

	In 1983, the Taj Mahal was declared a UNESCO World Heritage Site, praised as “the jewel of Muslim art in India.” It is also one of the New Seven Wonders of the World and is admired globally as a symbol of love, beauty, and architectural excellence. The Indian poet Rabindranath Tagore described it as “a teardrop on the cheek of time,” capturing its emotional and historical significance.
</p>
